// See: https://github.com/angular/components/blob/main/src/material/core/style/_variables.scss
$xsmall: 'max-width: 599px';
$small: 'max-width: 959px';

// Command Bar Button
$button-margin-right: 8px !default;

// Table
$table-margin-desktop: 16px;
$table-margin-mobile: 0;

// Tab
$component-default-margin: 32px !default;
