@use './variables';

.md-command-bar-button {
  background-color: white !important;
  color: black !important;
  margin-right: variables.$button-margin-right;
}

.md-content-container {
  // $toolbar-height-desktop + $command-bar-height-desktop + $activity-bar-height-desktop + 2 x $table-margin-desktop
  height: calc(100vh - (64px + 48px + 56px + 32px));
  width: 100%;

  background: whitesmoke;
}

.md-table-container {
  // $toolbar-height-desktop + $command-bar-height-desktop + $activity-bar-height-desktop + 2 x $table-margin-desktop
  height: calc(100vh - (64px + 48px + 56px + 32px));
  overflow: auto;

  margin-left: variables.$table-margin-desktop;
  margin-right: variables.$table-margin-desktop;
}

.md-spinner {

}

.md-table-header-id-column {
  float: right;
  margin: 0 12px 0 12px;
}
