@use 'sass:map';
@use '~@angular/material' as mat;

@mixin color($theme) {

  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $accent-palette: map.get($color-config, 'accent');

  .nav-list-item-active {
    color: mat.get-color-from-palette($accent-palette, 500);
    // color: mat-color(map-get($theme, accent), darker) !important;
    background: rgba(0, 0, 0, 0.04);
  }

}

@mixin theme($theme) {

  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

}
