<app-navigation-bar (toggleSidenav)="navigationSidenav.toggle()">
</app-navigation-bar>

<mat-sidenav-container autosize>

  <mat-sidenav #navigationSidenav mode="over" role="navigation">

    <mat-nav-list>

      <ng-container *ngIf="myWorkRoutes">

        <h2 matSubheader
            i18n="Sidenav Item|My Work@@MY_WORK_SUB_HEADER">
          My Work
        </h2>

        <!-- Hides the auto highlighting of the first item in the nav list -->
        <a mat-list-item routerLink="/" style="height: 0;"></a>

        <a *ngFor="let item of myWorkRoutes"
           mat-list-item
           (click)="navigationSidenav.close()"
           [routerLink]="[item.route]"
           routerLinkActive="nav-list-item-active">
          <mat-icon matListIcon class="nav-list-icon"> {{ item.icon }} </mat-icon>
          {{ item.label }}
        </a>

      </ng-container>

      <ng-container *ngIf="customerRoutes">

        <h2 matSubheader
            i18n="Sidenav Item|Customers@@CUSTOMERS_SUB_HEADER">
          Customers
        </h2>

        <a *ngFor="let item of customerRoutes"
           mat-list-item
           (click)="navigationSidenav.close()"
           [routerLink]="[item.route]"
           routerLinkActive="nav-list-item-active">
          <mat-icon matListIcon class="nav-list-icon"> {{ item.icon }} </mat-icon>
          {{ item.label }}
        </a>

      </ng-container>

      <h2 matSubheader
          i18n="Sidenav Item|Sales@@SALES_SUB_HEADER">
        Sales
      </h2>
      <h2 matSubheader
          i18n="Sidenav Item|Collateral@@COLLATERAL_SUB_HEADER">
        Collateral
      </h2>
      <h2 matSubheader
          i18n="Sidenav Item|Marketing@@MARKETING_SUB_HEADER">
        Marketing
      </h2>

      <ng-container *ngIf="toolsRoutes">

        <h2 matSubheader
            i18n="Sidenav Item|Tools@@TOOLS_SUB_HEADER">
          Tools
        </h2>

        <a *ngFor="let item of toolsRoutes"
           mat-list-item
           (click)="navigationSidenav.close()"
           [routerLink]="[item.route]"
           routerLinkActive="nav-list-item-active">
          <mat-icon matListIcon class="nav-list-icon"> {{ item.icon }} </mat-icon>
          {{ item.label }}
        </a>

      </ng-container>



    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content role="main">

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>

<!--

    <mat-toolbar>
      <mat-toolbar-row>

        mat-toolbar-row

      </mat-toolbar-row>
    </mat-toolbar>

-->
