@use 'sass:map';
@use '~@angular/material' as mat;

@mixin color($theme) {

  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the accent color palette from the color-config.
  $accent-palette: map.get($color-config, 'accent');

  .list-item-active {
    background: rgba(0, 0, 0, 0.04);
    color: mat.get-color-from-palette($accent-palette, 500) !important;
  }

  a:active {
    font-weight: bold;
    color: mat.get-color-from-palette($accent-palette, 500) !important;
  }

  .active {
    font-weight: bold;
    color: mat.get-color-from-palette($accent-palette, 500) !important;
  }

}

@mixin typography($theme) {

  .list-item-active {
    font-weight: bold !important;
  }

}

@mixin theme($theme) {

  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }

}
