.sign-in-container {
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
}

.sign-in-card {
  width: 400px;
  // height: 230px;
  height: 320px;
  padding: 32px
}

.nested-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  // column-gap: 16px;
  row-gap: 1em;

  // justify-items: center;
}

.card-actions {
  padding: 8px 8px;
}

/*

$card-width: 500px;
$card-height: 500x;

.grid-container {
  display: grid;
  grid-template-columns: auto $card-width auto;
  grid-template-rows: auto $card-height auto;
  column-gap: 32px;

  // justify-items: center;
}

.nested-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  // column-gap: 16px;
  row-gap: 1em;

  // justify-items: center;
}

*/
