<mat-toolbar color="primary">

  <mat-toolbar-row>

    <button mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon> menu </mat-icon>
    </button>

    <span class="navigation-bar-title"
          i18n="Navigation Bar Application Name|Application Name@@NAVIGATION_BAR_TITLE">
      Serendipity
    </span>

    <span class="navigation-bar-spacer"></span>

    <button mat-icon-button>
      <mat-icon> settings </mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon> help_outline </mat-icon>
    </button>

    <ul class="navigation-items">

      <li>

        <button mat-icon-button [matMenuTriggerFor]="auth">
          <mat-icon> person </mat-icon>
        </button>

        <mat-menu #auth="matMenu">

          <button mat-menu-item [disabled]="true">
            <mat-icon> person </mat-icon>
            <span i18n="Navigation Bar Profile|Application Name@@NAVIGATION_BAR_PROFILE">
            Profile
          </span>
          </button>

          <mat-divider></mat-divider>

          <button mat-menu-item (click)="login()">
            <mat-icon svgIcon="login"> </mat-icon>
            <span i18n="Navigation Bar Application Name|Application Name@@NAVIGATION_BAR_LOGOUT">
            Login
          </span>
          </button>

          <button mat-menu-item (click)="logout()">
            <mat-icon svgIcon="logout"> </mat-icon>
            <span i18n="Navigation Bar Application Name|Application Name@@NAVIGATION_BAR_LOGOUT">
            Logout
          </span>
          </button>

        </mat-menu>

      </li>

    </ul>

  </mat-toolbar-row>

</mat-toolbar>
