<command-bar>

  <button mat-button>
    <mat-icon> add </mat-icon>
    <span i18n="Command Bar Item|Contacts@@NEW">
      NEW
    </span>
  </button>

  <button mat-button [disabled]="true">
    <mat-icon> description </mat-icon>
    <span i18n="Command Bar Item|Contacts@@RUN_REPORT">
      RUN REPORT
    </span>
  </button>

</command-bar>

<!--

<h2 class="component-title"> Contacts </h2>

<mat-toolbar>

  <mat-toolbar-row>
    <span class="component-title"> Contacts </span>
  </mat-toolbar-row>

</mat-toolbar>

-->
