$margin-desktop: 16px;
$margin-mobile: 0;

$component-margin-desktop: $margin-desktop !default;
$component-margin-mobile: $margin-desktop !default;

// Mat Tab

.mat-tab-group {
  margin-left: $component-margin-desktop;
  margin-right: $component-margin-desktop;
}

// Mat Card

.mat-card {
  padding: 0;
  margin-top: $component-margin-desktop;
}

.mat-card-header {
  background: rgba(0, 0, 0, 0.04);
  padding-top: 8px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-card-content {
  padding: 16px;
}
