$container-height-offset: 128px;
$container-margin: 32px;
$container-padding: 64px;

$icon-padding: 64px;
$icon-size: 320px;

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: calc(100vh - #{$container-height-offset});
  background: var(--mat-sys-inverse-on-surface);
  margin: $container-margin;
}

.column-1 {
  grid-column: 1;
  align-content: center;
}

.column-2 {
  grid-column: 2;
  align-content: center;
  padding-right: $container-padding;
}

.logo {
  padding: $icon-padding;
  height: $icon-size;
  width: $icon-size;
}

// https://github.com/angular/components/blob/main/src/material/core/tokens/_classes.scss



/*

.welcome-title-text {
  font: var(--mat-sys-display-large);
}

.welcome-text {
  font: var(--mat-sys-headline-small);
  font-weight: lighter;
}

  // grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);

  // background: rgba(0, 0, 0, 0.04);

*/
