# 1. HTTP to HTTPS Global Redirector
server {

  server_name serendipity.localhost;
  listen 80;

  return 301 https://$host$request_uri;

}

# 2. Front-End and BFF Gateway Domain
server {

  server_name serendipity.localhost;
  listen 443 ssl default_server;

  ssl_certificate /etc/nginx/certs/serendipity.localhost-cert.pem;
  ssl_certificate_key /etc/nginx/certs/serendipity.localhost-key.pem;

  include /etc/nginx/conf/ssl.conf;

  # error_page 502 504 = @maintenance;

  location / {
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_set_header Host $host;

      proxy_pass http://serendipity-web-bff:8080;
      proxy_redirect off;
  }

  # 4. Database Administration Routing
  location /pgadmin {
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_set_header Host $host;
      proxy_pass http://pgadmin:80;
  }

  # location @maintenance {
  #     root /usr/share/nginx/html;
  #     rewrite ^(.*)$ /error.html break;
  # }

}

# 3. Dedicated Identity Service (Keycloak) Domain
server {

  server_name serendipity-identity-service.localhost;
  listen 443 ssl;

  ssl_certificate /etc/nginx/certs/serendipity-identity-service.localhost-cert.pem;
  ssl_certificate_key /etc/nginx/certs/serendipity-identity-service.localhost-key.pem;

  include /etc/nginx/conf/ssl.conf;

  location / {
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_set_header X-Forwarded-Host $host;
      proxy_set_header X-Forwarded-Port $server_port;
      proxy_set_header Host $host;

      proxy_pass http://serendipity-identity-service:8080;
      proxy_buffer_size 128k;
      proxy_buffers 4 256k;
      proxy_busy_buffers_size 256k;
  }

}
