// https://material.angular.io/guide/theming

// https://github.com/Teradata/covalent/blob/develop/src/theme.scss

@import '~@angular/material/theming';

// @import "./material.icons";

$custom-typography: mat-typography-config(
  $button: mat-typography-level(14px, 14px, 400)
);
$custom-toolbar-typography: mat-typography-config(
  $title: mat-typography-level(20px, 32px, 400)
);

@include mat-core($custom-typography);

@include mat-toolbar-typography($custom-toolbar-typography);

// https://material.io/design/color/the-color-system.html
// https://github.com/angular/material2/blob/master/src/lib/core/theming/_palette.scss

@import "./variables";
@import "./palette";

$primary: mat-palette($mat-black, 900);
$accent:  mat-palette($mat-deep-orange, 500, A100, A400);
$warn:    mat-palette($mat-red, 600);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

// https://material.angular.io/guide/theming-your-components

html, body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#app-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.list-item-active {
  font-weight: bold;
  color: mat-color($accent, darker) !important;
  background: rgba(0, 0, 0, 0.04);
}

/*

.mat-drawer-content {
  overflow: hidden !important;
}

*/

//
// Library elements
//

.lib-component-title {

  margin-top: $mat-toolbar-height-desktop + $component-title-margin;

  @media ($mat-xsmall) {
    margin-top: $mat-toolbar-height-mobile + $component-title-margin;
  }

  margin-bottom: $component-title-margin;
  text-align: center;
}

.mat-header-row {
  // background-color: mat-color($accent, 300);
  background-color: #f5f5f5;
}

.mat-footer-row {
  // background-color: mat-color($accent, 300);
  background-color: #f5f5f5;
}

a:active {
  font-weight: bold;
  color: mat-color($accent, darker) !important;
  // color: blue;
}

.active {
  font-weight: bold;
  color: mat-color($accent, darker) !important;
  // color: blue;
}

.anchor {
  // font-weight: bold;
  color: #488aff;
  cursor: pointer;
}

//
// Dynamic Forms
//

/*
.mat-hint {
  // color: rgba(0, 0, 0, 0.6);
  height: 0;
}
*/

.column-1 {
  grid-column: 1;
}

.column-2 {
  grid-column: 2;
}

.column-3 {
  grid-column: 3;
}

.column-4 {
  grid-column: 4;
}




/*

.mat-drawer-container {
  top: $mat-toolbar-height-desktop;

  @media ($mat-xsmall) {
    top: $mat-toolbar-height-mobile;
  }
}

.mat-sidenav-content {
  top: $mat-toolbar-height-desktop;

  @media ($mat-xsmall) {
    top: $mat-toolbar-height-mobile;
  }
}

*/

/*

html, body {
    height: 100%;
    overflow: hidden;
}

#mainContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.mat-subheader {
  font-size: 18px;
  font-weight: 900;
}

*/

/*

.mat-header-row {
  // background-color: mat-color($accent, 300);
  background-color: #f5f5f5;
}

.mat-footer-row {
  // background-color: mat-color($accent, 300);
  background-color: #f5f5f5;
}

a:active {
  font-weight: bold;
  color: mat-color($accent, darker) !important;
  // color: blue;
}

.active {
  font-weight: bold;
  color: mat-color($accent, darker) !important;
  // color: blue;
}

.anchor {
  // font-weight: bold;
  color: #488aff;
  cursor: pointer;
}

*/
