// https://material.angular.io/guide/theming
// https://material.angular.io/guide/theming-your-components

// https://github.com/Teradata/covalent/blob/develop/src/theme.scss

@import '~@angular/material/theming';

@import "./open-sans";
@import "./material.icons";

// https://material.angular.io/guide/typography

/*

$custom-typography: mat-typography-config(
  $button: mat-typography-level(14px, 14px, 400)
);

$custom-toolbar-typography: mat-typography-config(
  $title: mat-typography-level(20px, 32px, 400)
);

*/

$custom-typography: mat-typography-config(
  $font-family: 'Open Sans, sans-serif'
);

@include mat-core($custom-typography);
// @include mat-toolbar-typography($custom-toolbar-typography);

// https://material.io/design/color/the-color-system.html
// https://github.com/angular/material2/blob/master/src/lib/core/theming/_palette.scss

@import "./mat-variables";
@import "./variables";
@import "./palette";

$primary: mat-palette($mat-black, 900);
$accent:  mat-palette($mat-deep-orange, 500, A100, A400);
$warn:    mat-palette($mat-red, 600);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

// https://material.angular.io/guide/theming-your-components

// top, right, bottom, and left

html, body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  // font-family: RobotoDraft, "Helvetica Neue", sans-serif;
  font-family: 'Open Sans', sans-serif;
}

/*

.mat-drawer-content {
  overflow: hidden !important;
}

*/

#app-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

// TODO

.list-item-active {
  font-weight: bold;
  color: mat-color($accent, darker) !important;
  background: rgba(0, 0, 0, 0.04);
}

.crm-navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

.crm-command-bar {
  position: fixed;
  top: $mat-toolbar-height-desktop;
  left: 0;
  right: 0;
  z-index: 997;
  height: $crm-command-bar-height-desktop;
  min-height: $crm-command-bar-height-desktop;

  @media ($mat-xsmall) {
    top: $mat-toolbar-height-mobile;
    height: $crm-command-bar-height-mobile;
    min-height: $crm-command-bar-height-mobile;
  }

  background-color: #f5f5f5;
}

.crm-content-container {
  height: 100%;
}

.crm-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crm-component-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: $crm-view-bar-height-desktop;
  min-height: $crm-view-bar-height-desktop;

  margin-top: $mat-toolbar-height-desktop + $crm-command-bar-height-desktop;

  @media ($mat-xsmall) {
    height: $crm-view-bar-height-mobile;
    min-height: $crm-view-bar-height-mobile;

    margin-top: $mat-toolbar-height-mobile + $crm-command-bar-height-mobile;
  }
}

.crm-component-title {
  // margin-top: $crm-component-title-margin;
  // margin-bottom: $crm-component-title-margin;
  // vertical-align: middle;
  // padding-top: 12px;
  margin: 0;
  // text-align: center;
}

.crm-table-container {
  margin-left: 32px;
  margin-right: 32px;
  overflow: auto;

  // margin-top: $mat-toolbar-height-desktop + $crm-command-bar-height-desktop;

  @media ($mat-xsmall) {
    margin-left: 0;
    margin-right: 0;

    // margin-top: $mat-toolbar-height-mobile + $crm-command-bar-height-mobile;
  }
}

.crm-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  row-gap: 1em;

  margin-top: 0;
  margin-left: 32px;
  margin-bottom: 32px;
  margin-right: 32px;
}

.crm-snack-bar {
  // background: #00b862;
  text-align: center;
}

//
// Dynamic Reactive Forms
//

.crm-nested-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 1em;
}

.grid-column-1 {
  grid-column: 1;
}

.grid-column-1-span-2 {
  grid-column: 1 / span 2;
}

.grid-column-2 {
  grid-column: 2;
}

.grid-column-2-span-2 {
  grid-column: 2 / span 2;
  // min-width: 180px;
}

.grid-column-3 {
  grid-column: 3;
}

.grid-column-4 {
  grid-column: 4;
}

//
// Library elements
//

/*

.lib-component-title {

  margin-top: $mat-toolbar-height-desktop + $crm-component-title-margin;

  @media ($mat-xsmall) {
    margin-top: $mat-toolbar-height-mobile + $crm-component-title-margin;
  }

  margin-bottom: $crm-component-title-margin;
  text-align: center;
}

*/

.lib-component-title {

  margin-top: $mat-toolbar-height-desktop + $crm-command-bar-height-desktop + $crm-component-title-margin;

  @media ($mat-xsmall) {
    margin-top: $mat-toolbar-height-mobile + $crm-command-bar-height-mobile + $crm-component-title-margin;
  }

  margin-bottom: $crm-component-title-margin;
  text-align: center;
}

.mat-header-row {
  // background-color: mat-color($accent, 300);
  background-color: #f5f5f5;
}

.mat-footer-row {
  // background-color: mat-color($accent, 300);
  background-color: #f5f5f5;
}

a:active {
  font-weight: bold;
  color: mat-color($accent, darker) !important;
  // color: blue;
}

.active {
  font-weight: bold;
  color: mat-color($accent, darker) !important;
  // color: blue;
}

.anchor {
  // font-weight: bold;
  color: #488aff;
  cursor: pointer;
}

/*

.mat-drawer-container {
  top: $mat-toolbar-height-desktop;

  @media ($mat-xsmall) {
    top: $mat-toolbar-height-mobile;
  }
}

.mat-sidenav-content {
  top: $mat-toolbar-height-desktop;

  @media ($mat-xsmall) {
    top: $mat-toolbar-height-mobile;
  }
}

*/

/*

html, body {
    height: 100%;
    overflow: hidden;
}

#mainContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.mat-subheader {
  font-size: 18px;
  font-weight: 900;
}

*/

/*

.mat-header-row {
  // background-color: mat-color($accent, 300);
  background-color: #f5f5f5;
}

.mat-footer-row {
  // background-color: mat-color($accent, 300);
  background-color: #f5f5f5;
}

a:active {
  font-weight: bold;
  color: mat-color($accent, darker) !important;
  // color: blue;
}

.active {
  font-weight: bold;
  color: mat-color($accent, darker) !important;
  // color: blue;
}

.anchor {
  // font-weight: bold;
  color: #488aff;
  cursor: pointer;
}

*/
