<crm-command-bar>

  <ng-container>

    <button mat-button class="crm-command-bar-button"
            [disabled]="!isDirty() || !isValid()"
            (click)="onSave()">
      <mat-icon>save</mat-icon>
      {{ 'SAVE' | translate }}
    </button>

    <button mat-button class="crm-command-bar-button"
            [disabled]="!isDirty() || !isValid()"
            (click)="onSaveAndClose()">
      <mat-icon>arrow_back</mat-icon>
      {{ 'SAVE_AND_CLOSE' | translate }}
    </button>

  </ng-container>

  <div fxFlex fxLayout fxLayoutAlign="flex-end">

    <button mat-button class="crm-command-bar-button"
            (click)="onClose()">
      <mat-icon>clear</mat-icon>
    </button>

  </div>

</crm-command-bar>


<div class="crm-component-title-container">
  <h1 class="crm-component-title"> {{ 'PROFILE_HEADER' | translate }} </h1>
</div>

<div #contentContainer class="crm-content-container">

  <ng-container *ngIf="!item; then skeleton"> </ng-container>

  <ng-container *ngIf="item">

    <mat-tab-group>

      <mat-tab label="{{ 'SUMMARY_TAB' | translate }}">

        <div #gridContainer class="crm-grid-container">

          <mat-card>

            <!--
            <mat-card-header>
              <mat-card-title>
                General Information
              </mat-card-title>
            </mat-card-header>
            -->

            <mat-card-content>

              <!-- Chrome ignores autocomplete="off" so go to chrome://settings/autofill and turn 'Auto-fill forms' off -->

              <dynamic-form autocomplete="off"
                            className="crm-nested-grid-container"
                            [formGroup]="generalInformationGroup"
                            [model]="generalInformationModel"
                            (customEvent)="onCustomEvent($event)">
              </dynamic-form>

              <!--
              <p>
                Form Value: {{ generalInformationGroup.value | json }}
              </p>
              -->

            </mat-card-content>

          </mat-card>

          <mat-card>

            <!--
            <mat-card-header>
              <mat-card-title>
                Address Information
              </mat-card-title>
            </mat-card-header>
            -->

            <mat-card-content>

              <!-- Chrome ignores autocomplete="off" so go to chrome://settings/autofill and turn 'Auto-fill forms' off -->

              <!--
              <dynamic-form autocomplete="off"
                            className="crm-nested-grid-container"
                            [formGroup]="addressInformationGroup"
                            [model]="addressInformationModel">
              </dynamic-form>
              -->

              <!--
              <p>
                Form Value: {{ addressInformationGroup.value | json }}
              </p>
              -->

            </mat-card-content>

          </mat-card>

        </div>

      </mat-tab>

      <!--
      <mat-tab label="{{ 'DETAILS_TAB' | translate }}">
      </mat-tab>

      <mat-tab label="{{ 'RELATED_TAB' | translate }}">
      </mat-tab>
      -->

    </mat-tab-group>

  </ng-container>

  <!-- Skeleton template -->

  <ng-template #skeleton>

    <div class="crm-spinner-container">
      <mat-spinner color="accent"></mat-spinner>
    </div>

  </ng-template>

</div> <!-- contentContainer -->

/*

<ng-template #skeleton>

  <div class="crm-spinner-container" [style.height.px]="containerHeight">
    <mat-spinner color="accent"></mat-spinner>
  </div>

</ng-template>


*/
