<!--
<div class="container mat-typography">
-->

<div class="container">

  <mat-icon svgIcon="logo"> </mat-icon>

  <div fxLayout="column">

          <span class="welcome-title" i18n="Welcome Page Title|Home@@HOME_TITLE">
            Welcome
          </span>

    <span class="welcome-text" i18n="Welcome Page Welcome Text|Home@@HOME_WELCOME_TEXT">
            Serendipity is an open source Customer Engagement Platform.<br>
            You can use it to transform your organisation by connecting your customers, products, people and operations.
            <br><br>
          </span>

    <section>
      <div class="example-button-row">

        <ng-container *ngIf="!isAuthenticated()">
          <button mat-raised-button color="accent" (click)="login()">LOGIN</button>
        </ng-container>

      </div>
    </section>

  </div>

</div>


<!--

<mat-card fxLayout="row" fxLayoutAlign="center center">

  <mat-card-content fxLayout="row"
                    fxFlex
                    fxLayout.xs="column"
                    fxLayoutGap="2rem"
                    fxLayoutAlign="center center">

    <mat-icon svgIcon="logo"> </mat-icon>

    <div fxLayout="column">

          <span class="welcome-title" i18n="Welcome Page Title|Home@@HOME_TITLE">
            Welcome
          </span>

      <span class="welcome-text" i18n="Welcome Page Welcome Text|Home@@HOME_WELCOME_TEXT">
            Serendipity is an open source Customer Engagement Platform.<br>
            You can use it to transform your organisation by connecting your customers, products, people and operations.
            <br><br>
          </span>

      <section>
        <div class="example-button-row">

          <ng-container *ngIf="!isAuthenticated()">
            <button mat-raised-button color="accent" (click)="login()">LOGIN</button>
          </ng-container>

        </div>
      </section>

    </div>

  </mat-card-content>

</mat-card>

-->

<!--

<div class="home-container">

  <div class="home-container-content">

  </div>

</div>



<div>

  <mat-card fxLayout="row" fxLayoutAlign="center center">

    <mat-card-content fxLayout="row"
                      fxFlex
                      fxLayout.xs="column"
                      fxLayoutGap="2rem"
                      fxLayoutAlign="center center">

      <mat-icon svgIcon="logo"> </mat-icon>

      <div fxLayout="column">

      <span class="welcome-title" i18n="Welcome Page Title|Home@@HOME_TITLE">
        Welcome
      </span>

        <span class="welcome-text" i18n="Welcome Page Welcome Text|Home@@HOME_WELCOME_TEXT">
        Serendipity is an open source Customer Engagement Platform.<br>
        You can use it to transform your organisation by connecting your customers, products, people and operations.
        <br><br>
      </span>

      </div>

    </mat-card-content>

  </mat-card>

</div>


-->

<!--

<mat-card fxLayout="row" fxLayoutAlign="center center">

  <mat-card-content fxLayout="row"
                    fxFlex
                    fxLayout.xs="column"
                    fxLayoutGap="2rem"
                    fxLayoutAlign="center center">

  <img *ngIf="imgURL"
       mat-card-xl-image
       [src]="imgURL">

  <div fxLayout="column" [fxFlex]="imgURL ? 50 : 100">
    <ng-container [ngTemplateOutlet]="jumbotronContent.content"></ng-container>
  </div>
  </mat-card-content>

</mat-card>



<activity-bar>

  <span class="activity-bar-title" i18n="Activity Bar Title|Home@@HOME_TITLE">
    Welcome
  </span>

</activity-bar>

<h2 class="component-title"> Welcome Page </h2>

-->
