.active-nav-route {
  background-color: rgba(63, 81, 181, 0.12) !important; /* Soft Primary color highlight tinted wash */
  color: #3f51b5 !important;
  font-weight: 600;

  mat-icon {
    color: #3f51b5 !important;
  }
}
