@use '~@angular/material' as mat;

@import "../../../projects/utils-lib/src/lib/angular-material/mat-variables";
@import "../../../projects/utils-lib/src/lib/angular-material/variables";

// If you are using the Angular CLI, support for compiling Sass to css is built-in; you only have to add a new entry to
// the "styles" list in angular.json pointing to the theme file, for example:
//
//   "styles": [
//     "src/styles.scss",
//     "src/themes/light-theme/theme.scss"
//   ]

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
}

// top, right, bottom, and left

// ------------------------------------------------------------------------------------------------------------------ //

// https://material.angular.io/guide/customizing-component-styles
// You should always apply an application-specific prefix to global CSS classes to avoid naming collisions.
// e.g., md (Material Design)

// Layout containers

.md-activities-container {
  display: grid;
  grid-template-columns: $task-list-width auto;
  // grid-template-rows: 100%; deprecated
  // grid-template-rows: auto;
  // grid-template-rows: minmax(250px, auto);
  column-gap: 32px;
  // row-gap: 1em;

  margin-top: 0;
  margin-left: 32px;
  margin-bottom: 32px;
  margin-right: 32px;

  // overflow: auto;
  // overflow: hidden;
}

.md-content-container {
  // $mat-toolbar-height-desktop + $crm-command-bar-height-desktop + $crm-view-bar-height-desktop
  // 64 + 56 + 96
  // height: calc(100vh - 216px);
  height: calc(100vh - 200px);
  width: 100%;

  @media ($mat-xsmall) {
    // $mat-toolbar-height-mobile + $crm-command-bar-height-mobile + $crm-view-bar-height-mobile
    // 56 + 0 + 84
    height: calc(100vh - 140px);
  }

  background: whitesmoke;
}

.md-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  row-gap: 1em;

  margin-top: 0;
  // margin-left: 32px;
  margin-bottom: 32px;
  // margin-right: 32px;
}

.md-nested-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;  // 32px;
  row-gap: 1em;
}

.md-table-container {

  // $mat-toolbar-height-desktop + $crm-command-bar-height-desktop + $crm-view-bar-height-desktop
  // 64 + 56 + 96 + 32
  // height: calc(100vh - 248px);
  height: calc(100vh - 200px);

  margin-left: $table-margin-desktop;
  margin-right: $table-margin-desktop;
  overflow: auto;

  // margin-top: $mat-toolbar-height-desktop + $crm-command-bar-height-desktop;

  @media ($mat-xsmall) {
    // $mat-toolbar-height-mobile + $crm-command-bar-height-mobile + $crm-view-bar-height-mobile
    // 56 + 0 + 84 + 0
    height: calc(100vh - 140px);

    margin-left: $table-margin-mobile;
    margin-right: $table-margin-mobile;
  }

  // background-color: black;
}

.md-task-container {
  background: white;
  border: 1px solid lightgray;
  padding-top: 0;
  margin-top: 0;
  // background: whitesmoke;

  // padding-left: 32px;
  // padding-right: 32px;

  // overflow: auto;

  // height: 100%;
  // height: calc(100vh - ($mat-toolbar-height-desktop + $crm-command-bar-height-desktop + $crm-component-title-margin));
  // height: calc(100vh - 64 + 56 + 16);

  // height: 100vh;
  // height: calc(100vh - 64px + 56px + 16px);
  // height: calc(100vh - 96px);
  // height: calc(100vh - 128px);

  // height: 400px;
  // height: calc(100vh - 256px);
  height: calc(100vh - 200px);

  @media ($mat-xsmall) {
    height: calc(100vh - 180px);
  }

}

.md-task-list-container {
  // background: white;
  border: 1px solid lightgray;
}

.md-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;

  // $mat-toolbar-height-desktop + $crm-command-bar-height-desktop + $crm-view-bar-height-desktop
  // 64 + 56 + 96
  height: calc(100vh - 216px);
  width: 100%;

  @media ($mat-xsmall) {
    // $mat-toolbar-height-mobile + $crm-command-bar-height-mobile + $crm-view-bar-height-mobile
    // 56 + 0 + 84
    height: calc(100vh - 140px);
  }
}

// Command Bar

.md-default-command-bar-button {
  // background-color: rgba(0, 0, 0, 0.12) !important;
  margin-right: $command-bar-button-margin-right !important;
  min-width: $command-bar-button-min-width !important;
  padding: 0 $command-bar-button-padding !important;
}

.md-command-bar-button {
  // background-color: darkgrey !important;
  // color: white !important;
  margin-right: $command-bar-button-margin-right !important;
  min-width: $command-bar-button-min-width !important;
  padding: 0 $command-bar-button-padding !important;
}

// Action Bar

.md-action-bar-row {
  height: $action-bar-height-desktop !important;
  min-height: $action-bar-height-desktop !important;

  padding-left: 8px;
  padding-right: 8px;
}

.md-action-bar-button {
  min-width: 48px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 8px;
}

// Activity Bar

.md-activity-bar-title {
  font-size: $activity-bar-title-font-size;
}

// Snack Bar

.md-snack-bar {
  text-align: center;
}

//
// Dynamic Reactive Forms
//

.md-prefix-icon {
  cursor: pointer;
}

.md-suffix-icon {
  cursor: pointer;
}

.grid-column-1 {
  grid-column: 1;
}

.grid-column-1-span-2 {
  grid-column: 1 / span 2;
}

.grid-column-2 {
  grid-column: 2;
}

.grid-column-2-span-2 {
  grid-column: 2 / span 2;
  // min-width: 180px;
}

.grid-column-3 {
  grid-column: 3;
}

.grid-column-3-row-1-span-2 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.grid-column-3-row-1-span-3 {
  grid-column: 3;
  grid-row: 1 / span 3;
}

.grid-column-4 {
  grid-column: 4;
}

.grid-row-2 {
  grid-row: 2;
}
