@use '~@angular/material' as mat;

@import "../../../projects/utils-lib/src/lib/angular-material/mat-variables";
@import "../../../projects/utils-lib/src/lib/angular-material/variables";

// If you are using the Angular CLI, support for compiling Sass to css is built-in; you only have to add a new entry to
// the "styles" list in angular.json pointing to the theme file, for example:
//
//   "styles": [
//     "src/styles.scss",
//     "src/themes/light-theme/theme.scss"
//   ]

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
}

// top, right, bottom, and left

// ------------------------------------------------------------------------------------------------------------------ //

// https://material.angular.io/guide/customizing-component-styles
// You should always apply an application-specific prefix to global CSS classes to avoid naming collisions.
// e.g., md (Material Design)

// Layout containers

.md-content-container {
  // $mat-toolbar-height-desktop + $crm-command-bar-height-desktop + $crm-view-bar-height-desktop
  // 64 + 56 + 96
  // height: calc(100vh - 216px);
  height: calc(100vh - 200px);
  width: 100%;

  @media ($mat-xsmall) {
    // $mat-toolbar-height-mobile + $crm-command-bar-height-mobile + $crm-view-bar-height-mobile
    // 56 + 0 + 84
    height: calc(100vh - 140px);
  }

  background: whitesmoke;
}

.md-table-container {

  // $mat-toolbar-height-desktop + $crm-command-bar-height-desktop + $crm-view-bar-height-desktop
  // 64 + 56 + 96 + 32
  // height: calc(100vh - 248px);
  height: calc(100vh - 200px);

  margin-left: $table-margin-desktop;
  margin-right: $table-margin-desktop;
  overflow: auto;

  // margin-top: $mat-toolbar-height-desktop + $crm-command-bar-height-desktop;

  @media ($mat-xsmall) {
    // $mat-toolbar-height-mobile + $crm-command-bar-height-mobile + $crm-view-bar-height-mobile
    // 56 + 0 + 84 + 0
    height: calc(100vh - 140px);

    margin-left: $table-margin-mobile;
    margin-right: $table-margin-mobile;
  }

  // background-color: black;
}

.md-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;

  // $mat-toolbar-height-desktop + $crm-command-bar-height-desktop + $crm-view-bar-height-desktop
  // 64 + 56 + 96
  height: calc(100vh - 216px);
  width: 100%;

  @media ($mat-xsmall) {
    // $mat-toolbar-height-mobile + $crm-command-bar-height-mobile + $crm-view-bar-height-mobile
    // 56 + 0 + 84
    height: calc(100vh - 140px);
  }
}

// Command Bar

.md-default-command-bar-button {
  // background-color: rgba(0, 0, 0, 0.12) !important;
  margin-right: $command-bar-button-margin-right !important;
  min-width: $command-bar-button-min-width !important;
  padding: 0 $command-bar-button-padding !important;
}

.md-command-bar-button {
  // background-color: darkgrey !important;
  // color: white !important;
  margin-right: $command-bar-button-margin-right !important;
  min-width: $command-bar-button-min-width !important;
  padding: 0 $command-bar-button-padding !important;
}

// Activity Bar

.md-activity-bar-title {
  font-size: $activity-bar-title-font-size;
}
