<app-navigation-bar (toggleSidenav)="sidenav.toggle()">
</app-navigation-bar>

<mat-sidenav-container>

  <mat-sidenav #sidenav mode="over" opened>

    <mat-nav-list>

      <h2 matSubheader>
        My Work
      </h2>

      @if (myWorkRoutes) {
        @for (item of myWorkRoutes; track item.id) {
          <a mat-list-item
             (click)="sidenav.close()"
             [routerLink]="[item.route]">
             <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
               {{ item.label }}
          </a>
        }
      }

      <h2 matSubheader>
        Customers
      </h2>

      @if (myWorkRoutes) {
        @for (item of customerRoutes; track item.id) {
          <a mat-list-item
             (click)="sidenav.close()"
             [routerLink]="[item.route]">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            {{ item.label }}
          </a>
        }
      }

      <h2 matSubheader>
        Sales
      </h2>

      <h2 matSubheader>
        Collateral
      </h2>

      <h2 matSubheader>
        Marketing
      </h2>

      <h2 matSubheader>
        Tools
      </h2>

      @if (myWorkRoutes) {
        @for (item of toolsRoutes; track item.id) {
          <a mat-list-item
             (click)="sidenav.close()"
             [routerLink]="[item.route]">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            {{ item.label }}
          </a>
        }
      }



    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <router-outlet />

  </mat-sidenav-content>

</mat-sidenav-container>
