<crm-navigation-bar *ngIf="isAuthenticated()" (toggleSidenav)="navigationSidenav.toggle()">
</crm-navigation-bar>

<mat-sidenav-container autosize>

  <mat-sidenav #navigationSidenav mode="over" role="navigation">

    <mat-toolbar>
      <mat-toolbar-row>
        <h2 class="toolbar-title"> {{ 'APP_TOOLBAR_TITLE' | translate }} </h2>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list>

      <h2 matSubheader> {{ 'MY_WORK' | translate }} </h2>

      <a mat-list-item routerLink="/" style="height: 0;"></a>

      <a *ngFor="let item of myWorkRoutes"
        mat-list-item
        (click)="navigationSidenav.close()"
        [routerLink]="[item.route]"
        routerLinkActive="list-item-active">
        <mat-icon matListIcon class="app-nav-list-icon"> {{ item.icon }} </mat-icon>
        {{item.title}}
      </a>

      <mat-divider></mat-divider>

      <h2 matSubheader> {{ 'CUSTOMERS' | translate }} </h2>

      <a *ngFor="let item of customerRoutes"
        mat-list-item
        (click)="navigationSidenav.close()"
        [routerLink]="[item.route]"
        routerLinkActive="list-item-active">
        <mat-icon matListIcon class="app-nav-list-icon"> {{ item.icon }} </mat-icon>
        {{item.title}}
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav #commandbarSidenav position="end" mode="side" class="crm-command-bar-sidenav">

    <!--
    <div style="background-color: #f5f5f5; padding-top: 8px; padding-bottom: 8px; text-align: center;">
      Components
    </div>
    -->

    <!--
    <mat-list style="padding: 10px;">

      <mat-card style="padding: 8px; margin-bottom: 10px; text-align: center;" draggable="true" (dragstart)="onDrag($event, '1')">

        <img mat-card-sm-image src="../../../../assets/images/icons/bar-chart.svg" alt="Bar Chart">

        <mat-card-content>
          <mat-card-subtitle>
            Bar Chart
          </mat-card-subtitle>
        </mat-card-content>

      </mat-card>

      <mat-card style="padding: 8px; margin-bottom: 10px; text-align: center;">

        <img mat-card-sm-image src="../../../../assets/images/icons/funnel-chart.svg" alt="Funnel Chart">

        <mat-card-content>
          <mat-card-subtitle>
            Funnel Chart
          </mat-card-subtitle>
        </mat-card-content>

      </mat-card>

      <mat-card style="padding: 8px; margin-bottom: 10px; text-align: center;">

        <img mat-card-sm-image src="../../../../assets/images/icons/pie-chart.svg" alt="Pie Chart">

        <mat-card-content>
          <mat-card-subtitle>
            Pie Chart
          </mat-card-subtitle>
        </mat-card-content>

      </mat-card>

    </mat-list>
    -->

    <mat-nav-list style="padding: 10px;">

      <a mat-list-item draggable="true" (dragstart)="onDrag($event, '1')">
        <mat-icon matListIcon class="app-nav-list-icon"> bar_chart </mat-icon>
        Bar Chart
      </a>

      <a mat-list-item draggable="true" (dragstart)="onDrag($event, '2')">
        <mat-icon matListIcon class="app-nav-list-icon"> local_bar </mat-icon>
        Funnel Chart
      </a>

      <a mat-list-item draggable="true" (dragstart)="onDrag($event, '3')">
        <mat-icon matListIcon class="app-nav-list-icon"> pie_chart </mat-icon>
        Pie Chart
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content role="main">
    <!--
    <crm-navigation-bar *ngIf="isAuthenticated()" (toggleSidenav)="navigationSidenav.toggle()">
    </crm-navigation-bar>
    -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

<!--

<mat-sidenav-content role="main" style="width: 100%; height: 100%">

<a *ngFor="let item of myWorkRoutes"
   mat-list-item
   (click)="sidenav.close()"
   routerLinkActive
   #routerLinkActiveInstance="routerLinkActive"
   [class.list-item-active]="routerLinkActiveInstance.isActive"
   [routerLink]="[item.route]">
  <mat-icon matListIcon class="app-nav-list-icon"> {{ item.icon }} </mat-icon>
  {{item.title}}
</a>
-->

<!--
<a *ngFor="let item of customerRoutes"
   mat-list-item
   (click)="sidenav.close()"
   routerLinkActive
   #routerLinkActiveInstance="routerLinkActive"
   [class.list-item-active]="routerLinkActiveInstance.isActive"
   [routerLink]="[item.route]">
  <mat-icon matListIcon class="app-nav-list-icon"> {{ item.icon }} </mat-icon>
  {{item.title}}
</a>
-->

<!--
  <crm-navigation-bar *ngIf="isAuthenticated()" (toggleSidenav)="sidenav.toggle()"></crm-navigation-bar>
-->
