# 1. HTTP to HTTPS Global Redirector
server {
  server_name serendipity.localhost;
  listen 80;

  return 301 https://$host$request_uri;
}

# 2. Front-End and BFF Gateway Domain
server {

  server_name serendipity.localhost;
  listen 443 ssl default_server;

  ssl_certificate /etc/nginx/certs/serendipity.localhost-cert.pem;
  ssl_certificate_key /etc/nginx/certs/serendipity.localhost-key.pem;

  include /etc/nginx/conf/ssl.conf;

  # GLOBAL DEFINITIONS: These protect EVERY route block on this server!
  # resolver 127.0.0.11 valid=30s ipv6=off;
  # set $angular_dev_server "host.docker.internal:4200";

  # Pass API & Authentication traffic to the BFF
  location ~ ^/(api|v2|login|oauth2|logout)/? {
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_set_header Host $host;

      proxy_pass http://serendipity-web-bff:8080;
      proxy_redirect off;
  }

  # Pass everything else to the live, hot-reloading dev server
  location / {
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_set_header Host $host;

      # Forward protocol upgrade headers cleanly to Vite WebSockets
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";

      # Route directly to your Mac's virtual IPv4 gateway interface.
      # This completely bypasses the IPv6 lookup without needing runtime resolvers.
      # You can swap 192.168.65.254 with 172.17.0.1:4200 to achieve the same stable, IPv6-free routing behavior.
      proxy_pass http://192.168.65.254:4200;
      # proxy_pass http://$angular_dev_server;
      proxy_redirect off;
  }

  # 4. Database Administration Routing
  location /pgadmin {
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_set_header Host $host;
      proxy_pass http://pgadmin:80;
  }
}

# 3. Dedicated Identity Service (Keycloak) Domain
server {
  server_name serendipity-identity-service.localhost;
  listen 443 ssl;

  ssl_certificate /etc/nginx/certs/serendipity-identity-service.localhost-cert.pem;
  ssl_certificate_key /etc/nginx/certs/serendipity-identity-service.localhost-key.pem;

  include /etc/nginx/conf/ssl.conf;

  location / {
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_set_header X-Forwarded-Host $host;
      proxy_set_header X-Forwarded-Port $server_port;
      proxy_set_header Host $host;

      proxy_pass http://serendipity-identity-service:8080;
      proxy_buffer_size 128k;
      proxy_buffers 4 256k;
      proxy_busy_buffers_size 256k;
  }
}
